.activityBox {
  background-image: url("/choose_activity.png");
  background-size: cover;
  height: 200px;
  width: 200px;
  background-repeat: no-repeat;
  background-size: 100%;
  border-radius: 50%;
  text-align: center;
}

.dateBox {
  background-image: url("/choose_by_date-time.png");
  background-size: cover;
  height: 200px;
  width: 200px;
  border-radius: 50%;
  background-repeat: no-repeat;
  background-size: 100%;
  text-align: center;
}

.activityBox:hover, .dateBox:hover {
  cursor: pointer;
  background-color: #846954;
}

.wrapper {
  display: grid;
  justify-content: center;
  align-items: center;
  padding: 100px;
}

.choiceText {
  position: relative;
  top: -30px;
  color: white;
  text-decoration: underline;
}
