/* NAV BAR */

.navBar {
  display: flex;
  justify-content: space-around;
  background-color: white;
  height: 50px;
  text-align: center;
  color: black;
}

.navBar a {
  color: #543B23;
  padding: 10px 30px;
  position: relative;
  text-decoration: none;
  font-family: "Helvetica",Helvetica,Arial,sans-serif;
  font-size: 15px;
  line-height: 0px;
}

.navBar a:hover {
    color: white;
    text-decoration: none;
  }
