.welcome {
  display: grid;
  justify-content: center;
  margin: 50px;
}

.logoHeader {
  display: flex;
  justify-content: center;
  margin: 50px;
  color: #DFDFD4;
  font-family: 'Ventura' 'sans-serif';
  font-size: 2em;
}

.planiteers {
  position: relative;
  top: 70px;
  padding-left: 15px;
  font-size: 2em;
}

.header {
  font-size: 4em;
  text-align: center;
  color: #DFDFD4;
  font-family: 'Ventura' 'sans-serif';
}

.registerButton {
  font-size: 1em;
  width: 15%;
  padding: 10px;
  border-radius: 2em;
  position: absolute;
  background-color: #81BE1C;
  border: #81BE1C;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-decoration: underline;
}

.loginButton {
  font-size: 1em;
  width: 15%;
  color: white;
  padding: 10px;
  border-radius: 2em;
  position: absolute;
  background-color: #543B23;
  border: #543B23;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.loginButton {
  width: 15%;
  border-radius: 2em;
  position: absolute;
  background-color: #543B23;
  top: 68%;
  left: 50%;
  transform: translate(-50%, -50%);
}


.loginButton:hover {
  cursor: pointer;
  background-color: #DFDFD4;
  color: #543B23;
}

.registerButton:hover {
  cursor: pointer;
  color: white;
}

.background {
  background-color: #81BE1C;
  height: 750px;
}
